@model CombinedViewModel

<head>
	<link href="@Url.Content("~/css/Index.css")" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="navbar navbar-expand">
	<div class="container-fluid">
		<a class="navbar-brand" asp-action="Index">Libros</a>
		<div>
			<ul class="navbar-nav me-auto mb-2">
				<li class="nav-item">
					<a class="nav-link active" asp-action="">Autores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" asp-action="AddBook">Agregar</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<body>
	<div class="table-responsive">
		<table class="table Books">
		<thead>
			<tr>
				<th>No</th>
				<th>Título</th>
				<th>Edición</th>
				<th>Autor</th>
				<th>ISBN</th>
				<th>Editorial</th>
				<th>Páginas</th>
				<th>Formato</th>
				<th>Sinopsis</th>
				<th>Editar</th>
			</tr>
		</thead>

		<tbody>
			@foreach(var book in Model.Books)
			{
				<tr>
					<td>@book.BookID</td>
					<td>@book.Title</td>
					<td>@book.Year</td>
					<td>
							@Model.Authors.FirstOrDefault(a => a.AuthorID == book.AuthorID)?.Name
					</td>
					<td>@book.ISBN</td>
					<td>@book.Editorial</td>
					<td>@book.Pages</td>
					<td>@book.Format</td>
					<td>@book.Synopsis</td>
						<td><a class="Icon" asp-action="EditBook" asp-route-id="@book.BookID"><i class="fa-solid fa-pen-to-square"></i></a></td>
				</tr>
			}
		</tbody>
	</table>
	</div>
</body>